{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

<h2>Billing</h2>

<a href="/billing/create"
class="btn btn-success">

Create Bill

</a>

</div>

<table class="table table-striped">

<thead>

<tr>

<th>ID</th>

<th>Patient</th>

<th>Total</th>

<th>Status</th>

<th>Action</th>

</tr>

</thead>

<tbody>

{% for bill in bills %}

<tr>

<td>{{ bill.id }}</td>

<td>{{ bill.patient_name }}</td>

<td>₹{{ bill.total }}</td>

<td>{{ bill.status }}</td>

<td>

<a
href="/billing/pay/{{ bill.id }}"
class="btn btn-primary btn-sm">

Mark Paid

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}
